body {
    font-family: sans-serif;
    background-color: rgb(232, 232, 232);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 20px;
  
}
header img{
    width: 70px;
    height: 70px;
      text-decoration: none;
   
    border-radius: 0%;
} 

.button {
   

    
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
     display: flex;

    border-top: 5px solid rgb(255, 238, 0);
    border-bottom: 5px solid rgb(0, 0, 0);
 
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
   

}
.next-img{float: left;
padding-right: 10px;
}
.next{
    font-size: 26px;
}
.nav-link {
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
h1:hover{
    color: rgb(0, 0, 0);
     border: 3px solid rgb(0, 0, 0);
    background-color: rgb(255, 238, 0);
    border-radius: 30px;
    padding: 10px;
    }

nav a:hover{
    color:rgb(0, 0, 0) ;
       border: 3px solid rgb(0, 0, 0);
    background-color: rgb(255, 238, 0);
    border-radius: 20px;
    padding: 10px;
}
h2:hover{
    color:rgb(0, 0, 0) ;
       border: 3px solid rgb(0, 0, 0);
    background-color: rgb(255, 238, 0);
    border-radius: 20px;
    padding: 10px;
}
footer p:hover{
    color:rgb(0, 0, 0) ;
    background-color: rgb(255, 238, 0);

    padding: 10px;
}
h1 {
    text-align: center;
    font-size: 50px;
      color:rgb(0, 0, 0) ;
}
h2 {
    text-align: center;
    font-size: 30px;
      color:rgb(0, 0, 0) ;
}

.next {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin-right: 100 auto;
   
    
}
.catalog {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.product {
    float: left;
    width: 160px;
    text-align: center;
    padding: 10px;
    border: 5px double rgb(0, 0, 0);
    margin: 40px 0px 40px 80px;
    background-color: rgb(255, 255, 255);
  
}
.reviews{
    padding-left: 20px;
}
span {
    font-weight: bold;
    padding: 15px;
    margin-bottom: 20px;
}


footer {
    background-color: #000000;
    padding: 10px;
}

footer p {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 5px;
}
